@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using Server.DTO
@implements IDisposable
<h1 style="background-color: #2247bf; color: white; padding: 10px; display: flex; justify-content: space-between; align-items: center;">
    <span>UlaanBator Airport</span>

    @if (showNotification)
    {
        <span style="background-color: white; color: #2247bf; padding: 2px 8px; border-radius: 10px; margin: 0 10px; font-size: 2rem; white-space: nowrap;">
            @notificationMessage
        </span>
    }

    <span>@currentTime.ToString("yyyy-MM-dd HH:mm:ss")</span>
</h1>


@if (flights == null || !flights.Any())
{
    <p>No flight data available.</p>
}
else
{
    

    <div style="display: flex; min-height: 100vh; background-color: #2247bf; color: white;">

        <div style="flex: 1; padding: 10px; border-right: 1px solid #ccc;">
            <h4>Arrival</h4>
            <table class="table table-bordered" style="color: white;">
                <thead>
                    <tr>
                        <th>Flight Number</th>
                        <th>Origin</th>
                        <th>Arrival Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var flight in flights)
                    {
                        if (flight.Arrival == "Ulaanbaatar")
                        {
                            <tr>
                                <td>@flight.FlightNumber</td>
                                <td>@flight.Departure</td>
                                <td>@flight.ArrivalTime.ToString("HH:mm")</td>
                                <td style="@(GetStatusStyle(flight.Status))">@flight.Status</td>
                            </tr>
                        }
                        
                    }
                </tbody>
            </table>
        </div>

        <div style="flex: 1; padding: 10px;">
            <h4>Departure</h4>
            <table class="table table-bordered" style="color: white;">
                <thead>
                    <tr>
                        <th>Flight Number</th>
                        <th>Destination</th>
                        <th>Departure Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var flight in flights)
                    {
                        if (flight.Arrival != "Ulaanbaatar")
                        {
                            <tr>
                                <td>@flight.FlightNumber</td>
                                <td>@flight.Arrival</td>
                                <td>@flight.DepartureTime.ToString("HH:mm")</td>
                                <td style="@(GetStatusStyle(flight.Status))">@flight.Status</td>
                            </tr>
                        }
                        
                    }
                </tbody>
            </table>
        </div>
    </div>


    
}

@inject HttpClient Http

@code {
    private IEnumerable<FlightReadDTO> flights;
    HubConnection connection;
    private DateTime currentTime = DateTime.Now;
    private Timer? timer;


    protected override async Task OnInitializedAsync()
    {

        timer = new Timer(UpdateTime, null, 0, 1000);


        //server luu api huselt ilgeej niit nislegiig avna.

        flights = await Http.GetFromJsonAsync<IEnumerable<FlightReadDTO>>("http://localhost:5106/flight");

        connection = new HubConnectionBuilder()
                .WithUrl("https://localhost:7132/flighthub")
                .WithAutomaticReconnect()
                .Build();

        // connection.On<IEnumerable<FlightReadDTO>>("ReceiveAllFlights", (flightsDoc) =>
        // {
        //     flights = flightsDoc;
        //     InvokeAsync(StateHasChanged);
        // });

        // connection.On<FlightReadDTO>("ReceiveFlightStatusUpdate", (flight) =>
        // {
        //     UpdateFlightStatus(flight);
        //     InvokeAsync(StateHasChanged);
        // });

        // await connection.StartAsync();


        // await connection.InvokeAsync("RequestFlightList");


        await StartSignalRConnection();

    }


    private async Task StartSignalRConnection()
    {

        //server tei connection uusgene.
        connection = new HubConnectionBuilder()
            .WithUrl("https://localhost:7132/flighthub")
            .WithAutomaticReconnect()
            .Build();


        //nislegiin status oorclogdohod barij avah event handler
        connection.On<FlightReadDTO>("ReceiveFlightStatusUpdate", (flight) =>
        {
            UpdateFlightStatus(flight);
            InvokeAsync(StateHasChanged);
            string msg = "Flight: " + flight.FlightNumber + " status changed to " + flight.Status + ".";
            ShowNotification(msg);
        });

        await connection.StartAsync();
        //await connection.InvokeAsync("RequestFlightList");
    }

    /// <summary>
    /// update hiigdsen nislegiig olj shinecleh function
    /// </summary>
    /// <param name="flight"></param>
    private void UpdateFlightStatus(FlightReadDTO flight)
    {
        var flightList = flights.ToList();

        for (int i = 0; i < flightList.Count; i++)
        {
            if (flightList[i].FlightNumber == flight.FlightNumber)
            {
                flightList[i] = flight;
                break;
            }
        }

        flights = flightList;
    }


    /// <summary>
    /// status aas hamaaran background coloriig solino.
    /// </summary>
    /// <param name="status"></param>
    /// <returns></returns>
    private string GetStatusStyle(string status)
    {
        return status.ToLower() switch
        {
            "cancelled" => "color: white; background-color: red;",
            "delayed" => "color: white; background-color: orange;",
            "boarding" => "color: white; background-color: green;",        
            "landed" => "color: white; background-color: #2247bf;",
            "departed" => "color: white; background-color: #2247bf;",
            "on time" => "color: white; background-color: #2247bf;",
            "flying" => "color: white; background-color: #2247bf;",
            _ => "color: black; background-color: lightgray;"
        };

    }

    private bool showNotification = false;
    private string notificationMessage = "";

    private async Task ShowNotification(string message, int durationMs = 10000)
    {
        notificationMessage = message;
        showNotification = true;

        await Task.Delay(durationMs);

        showNotification = false;
        await InvokeAsync(StateHasChanged);
    }


    /// <summary>
    /// tsag haruulna
    /// </summary>
    /// <param name="state"></param>

    private void UpdateTime(object? state)
    {
        currentTime = DateTime.Now;
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        timer?.Dispose();
    }
}