@page "/"
@using Microsoft.AspNetCore.SignalR.Client

<h3>Flight Status Updates</h3>

@if (flights == null || !flights.Any())
{
    <p>No flight data available.</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Depart to</th>
                <th>Airline</th>
                <th>Flight</th>
                <th>Gate</th>
                <th>Time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flight in flights)
            {
                <tr>
                    <td>@flight.Direction</td>
                    <td>
                        @if (flight.Airline != null && flight.Airline.Length > 0)
                        {
                            var base64 = Convert.ToBase64String(flight.Airline);
                            var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                            <img src="@imgSrc" alt="Logo" style="height: 40px;" />
                        }
                        else
                        {
                            <span>No logo</span>
                        }
                    </td>
                    <td>@flight.Number</td>
                    <td>@flight.Gate</td>
                    <td>@flight.DateTime.ToString("g")</td>
                    <td>@flight.Status</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<FlightInfo> flights = new();
    HubConnection connection;

    protected override async Task OnInitializedAsync()
    {


        connection = new HubConnectionBuilder()
                .WithUrl("https://localhost:7132/flighthub")
                .WithAutomaticReconnect()
                .Build();

        connection.On<List<FlightInfo>>("ReceiveInfo", (flightsDoc) =>
        {
            flights = flightsDoc;
            InvokeAsync(StateHasChanged);
        });

        connection.On<string, string>("ReceiveFlightStatusUpdate", (flightId, newStatus) =>
        {
            UpdateFlightStatus(flightId, newStatus);
            InvokeAsync(StateHasChanged);
        });

        await connection.StartAsync();


        await connection.InvokeAsync("RequestFlightList");

        

    }

    private void UpdateFlightStatus(string flightId, string newStatus)
    {
        var flight = flights.FirstOrDefault(f => f.Number == flightId);

        if (flight != null)
        {
            flight.Status = newStatus;
        }
    }
}
